{% extends "base.html" %}
{% block body %}
<div id="main-schema-diff_panel">
    <div class="sql-editor">

        <div id="schema-diff-panel" tabindex="0">
            <div id="fetching_data" class="pg-sp-container sql-editor-busy-fetching d-none">
                <div class="pg-sp-content">
                    <div class="row">
                        <div class="col-12 pg-sp-icon sql-editor-busy-icon"></div>
                    </div>
                    <div class="row"><div class="col-12 pg-sp-text sql-editor-busy-text">{{ _('Loading {0} v{1}...').format(config.APP_NAME, config.APP_VERSION) }}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
