{% extends "base.html" %}
{% block init_script %}
try {
  require(
    ['sources/generated/schema_diff'],
    function(pgSchemaDiffHook) {
      var pgSchemaDiffHook = pgSchemaDiffHook || pgAdmin.Tools.SchemaDiffHook;
      pgSchemaDiffHook.load({{trans_id}});
    },
    function() {
      console.log(arguments);
    });
} catch (err) {
  console.log(err);
}
{% endblock %}
{% block body %}
<div id="schema-diff-container" class="negative-space p-2">
    <div id="diff_fetching_data" class="pg-sp-container schema-diff-busy-fetching d-none">
        <div class="pg-sp-content">
            <div class="row">
                <div class="col-12 pg-sp-icon"></div>
            </div>
            <div class="row"><div class="col-12 pg-sp-text schema-diff-busy-text"></div></div>
        </div>
    </div>
    <div class="schema-diff-content pg-el-container" el="sm">

    </div>
</div>
{% endblock %}
