{% extends "base.html" %}
{% block init_script %}
try {
  require(
    ['sources/generated/schema_diff'],
    function(pgSchemaDiffHook) {
      var pgSchemaDiffHook = pgSchemaDiffHook || pgAdmin.Tools.SchemaDiffHook;
      pgSchemaDiffHook.load({{trans_id}});
    },
    function() {
      console.log(arguments);
    });
} catch (err) {
  console.log(err);
}
{% endblock %}
{% block body %}
<div id="schema-diff-container" class="negative-space p-2">
    <div class="pg-sp-container sql-editor-busy-fetching d-none">
        <div class="pg-sp-content">
            <div class="row">
                <div class="col-12 pg-sp-icon sql-editor-busy-icon"></div>
            </div>
            <div class="row"><div class="col-12 pg-sp-text sql-editor-busy-text">{{ _('Loading {0} v{1}...').format(config.APP_NAME, config.APP_VERSION) }}</div></div>
        </div>
    </div>
    <div class="schema-diff-content">

    </div>
</div>
{% endblock %}
